<div class="comment">
	<div class="com-left">
		<div class="com-ava"><a title="$arg[4]" class="sl_avatar" style="background-image: url($arg[11]);"></a></div>
		<div class="min-rate">
			<div class="rate-like-box">$arg[36]</div>
		</div>
		<ul class="fp-user-info">
			<li>$arg[6]</li>
			<li>$arg[45]</li>
		</ul>
	</div>
	<div class="com-right">
		<div class="com-top">
			<div class="carg dropdown">
				<a OnClick="HideShow('i-form', 'blind', 'up', 500);"><b>$arg[4]</b></a>
				<div id="i-form" class="dropdown-form">
					<ul class="list-text">
						<li>$arg[1]: $arg[2]</li>
						<li>$arg[27]: $arg[28]</li>
					</ul>
				</div>
			</div>
			<div class="carg">$arg[46]$arg[47]$arg[48]$arg[49]</div>
		</div>
		<div class="com-cont clrfix">
			<table class="table-acc-info">
				<tr><td>$arg[7]:</td><td>$arg[8]</td><td>$arg[31]:</td><td>$arg[32]</td></tr>
				<tr><td>$arg[9]:</td><td>$arg[10]</td><td>$arg[16]:</td><td>$arg[17]</td></tr>
				<tr><td>$arg[12]:</td><td>$arg[13]</td><td>$arg[33]:</td><td>$arg[34]</td></tr>
				<tr><td>$arg[21]:</td><td>$arg[22]</td><td>$arg[23]:</td><td>$arg[24]</td></tr>
				<tr><td>$arg[25]:</td><td>$arg[26]</td><td>$arg[40]:</td><td>$arg[41]</td></tr>
				<tr><td colspan="4"><hr>$arg[14]: $arg[15]</td></tr>
				<tr><td colspan="4">$arg[18]: $arg[19]</td></tr>
				<tr><td colspan="4">$arg[42]: $arg[43]</td></tr>
				<tr><td colspan="4">$arg[29]: $arg[30]</td></tr>
				<tr><td colspan="4"><hr>$arg[37]</td></tr>
				<tr><td colspan="4">$arg[38]: $arg[39]</td></tr>
				<tr><td colspan="4">$arg[20]</td></tr>
			</table>
		</div>
	</div>
</div>
$arg[50]