<article id="$arg[4]" class="post fullview">
	<h3 class="title">$arg[15] $arg[5]</h3>
	<div class="meta">
		<ul class="pull-right">
			<li>$arg[11]</li>
			<li>$arg[10]</li>
			<li>$arg[8]</li>
			<li><a href="#$arg[4]" title="$arg[4]" class="sl_pnum">$arg[4]</a></li>
		</ul>
		<ul>
			<li>$arg[9]</li>
			<li>$arg[3]</li>
		</ul>
	</div>
	<div class="entry-content">$arg[2] $arg[6]</div>
	<div class="more-info">
		<div class="more-col">
			<ul>
				<li>$arg[18]</li>
				<li>$arg[22]</li>
			</ul>
			<ul>
				<li>$arg[19]</li>
				<li>$arg[23]</li>
			</ul>
		</div>
	</div>
	<div class="meta-foot">
		<div class="rate-like-box pull-right">$arg[13]</div>
		$arg[16]$arg[14]$arg[20]$arg[21]
	</div>
</article>