<div id="$arg[1]" $arg[25]>
	<div class="comment">
		<div class="com-left">
			<div class="com-ava"><a title="$arg[2]" class="sl_avatar" style="background-image: url($arg[6]);"></a></div>
			<div class="min-rate">
				<div class="rate-like-box">$arg[9]</div>
			</div>
			<ul class="fp-user-info">
				<li>$arg[7]</li>
				<li>$arg[8]</li>
			</ul>
		</div>
		<div class="com-right">
			<div class="com-top">
				<div class="com-edit">$arg[5]</div>
				<div class="carg dropdown">
					<a OnClick="HideShow(&#039;c-form-$arg[1]&#039;, &#039;blind&#039;, &#039;up&#039;, 500);"><b>$arg[2]</b></a>
					<div id="c-form-$arg[1]" class="dropdown-form">
						<ul class="list-text">
							<li>$arg[11]</li>
							<li>$arg[12]</li>
							<li>$arg[13]</li>
							<li>$arg[14]</li>
							<li>$arg[15]</li>
							<li>$arg[10]</li>
						</ul>
					</div>
				</div>
				<div class="carg">$arg[24]$arg[18]$arg[19]$arg[20]$arg[21]$arg[22]$arg[23]<span class="cargs">$arg[3] $arg[4]</span></div>
			</div>
			<div class="com-cont clrfix">$arg[16]<div class="sl_sig">$arg[17]</div></div>
		</div>
	</div>
</div>