<div id="$arg[1]" $arg[27]>
	<div class="forum-post">
		<div class="forum-post-in clrfix">
			<div class="fp-right">
				<div class="fp-meta">
					<div class="pull-right">
						<div class="min-rate">
							<div class="rate-like-box">$arg[4]</div>
						</div>
						$arg[6]
					</div>
					<span class="grey">$arg[3] $arg[5]</span>
				</div>
				<div class="entry-content">$arg[17]<div class="sl_sig">$arg[18]</div></div>
				<div class="fp-moder">$arg[19]$arg[20]$arg[21]$arg[22]$arg[23]$arg[24]$arg[25]$arg[26]</div>
			</div>
			<div class="fp-left">
				<div class="fp-nickname dropdown dropup">
					<a OnClick="HideShow(&#039;f-form-$arg[1]&#039;, &#039;blind&#039;, &#039;down&#039;, 500);"><b>$arg[2]</b></a>
					<div id="f-form-$arg[1]" class="dropdown-form">
						<ul class="list-text">
							<li>$arg[12]</li>
							<li>$arg[13]</li>
							<li>$arg[14]</li>
							<li>$arg[15]</li>
							<li>$arg[16]</li>
							<li>$arg[11]</li>
						</ul>
					</div>
				</div>
				<a title="$arg[2]" class="sl_avatar" style="background-image: url($arg[7]);"></a>
				<div class="min-rate">
					<div class="rate-like-box">$arg[10]</div>
				</div>
				<ul class="fp-user-info">
					<li>$arg[8]</li>
					<li>$arg[9]</li>
				</ul>
			</div>
		</div>
	</div>
</div>