<!doctype html>
<html lang="ru">
<head>
{%HEAD%}
<meta name="viewport" content="width=1280">
<meta name="format-detection" content="telephone=no">
{%SCRIPT%}
</head>
<body>
	<div id="topbar">
		<div class="wrp">
			<ul class="top_contact">
				<li>+49 176 00000000</li>
				<li><script>"mysi".AddMail('test', 'slaed.net');</script><noscript>test<!-- slaed --><span>&#64;</span><!-- slaed -->slaed.net</noscript></li>
			</ul>
			<div class="top_social">
				<a class="thd i_gp" rel="nofollow" target="_blank" href="https://plus.google.com/112343714768886483056" title="Мы в Google+">Мы в Google+</a>
				<a class="thd i_yt" rel="nofollow" target="_blank" href="http://youtu.be/zw8_KjhTW-g" title="Мы в YouTube">Мы в YouTube</a>
				<a class="thd i_tw" rel="nofollow" target="_blank" href="https://twitter.com/slaed_cms" title="Мы в Twitter">Мы в Twitter</a>
				<a class="thd i_vk" rel="nofollow" target="_blank" href="https://vk.com/slaed_cms" title="Мы вКонтакте">Мы вКонтакте</a>
				<a class="thd i_fb" rel="nofollow" target="_blank" href="https://www.facebook.com/slaedsystem" title="Мы в Facebook">Мы в Facebook</a>
				<a class="thd i_rss" rel="nofollow" target="_blank" href="index.php?go=rss&amp;name=news&amp;num=50" title="Читайте нашу RSS">Читайте нашу RSS</a>
			</div>
			<ul class="top_links">
				<li><a class="ico i_recom" href="index.php?name=recommend" title="$lan[24]">$lan[24]</a></li>
				<li><a class="ico i_fav" href="$lan[3]" rel="sidebar" OnClick="javascript:Bookmark('$lan[1]', '$lan[3]');" title="$lan[1]">$lan[30]</a></li>
			</ul>
		</div>
	</div>
	<header id="header">
		<div class="wrp clrfix">
			<a href="index.php" class="thd logo" title="$lan[1]">$lan[1]</a>
			<p class="font slogan">Все великое<br>просто</p>
			$lan[0]
			<ul class="d_pane">
				<li class="d_info">Aктуальная<br>версия</li>
				<li class="d_num font">6.2</li>
				<li class="d_btns">
					<a class="sl_but" href="https://slaed.net/index.php?name=files&amp;op=view&amp;id=1529" title="Скачать бесплатно актуальную версию системы"><b>Скачать систему</b></a>
					<a class="sl_but_blue" href="https://slaed.net/index.php?name=files&amp;op=view&amp;id=1461" title="Скачать демо версию системы"><b>Демо</b></a>
				</li>
			</ul>
		</div>
	</header>
	<div id="hmenu">
		<div class="wrp clrfix">
			<nav id="topmenu">
				<ul>
					<li><a href="index.php" class="ico i_home" title="$lan[5]"><span class="thide">$lan[5]</span></a></li>
					<li>
					<a href="index.php?name=shop" title="Продукты">Продукты</a>
						<ul>
							<li><a href="index.php?name=shop" title="Актуальная версия продукта">Купить продукт</a></li>
							<li><a href="index.php?name=shop&amp;op=view&amp;id=1" title="Виртуальный хостинг">Виртуальный хостинг</a></li>
							<li><a href="index.php?name=shop&amp;op=view&amp;id=2" title="Регистрация и продление доменов">Продление доменов</a></li>
						</ul>
					</li>
					<li>
					<a href="index.php?name=content" title="Услуги">Услуги</a>
						<ul>
							<li><a href="index.php?name=content" title="Услуги по изготовлению, модификации и оптимизации">Платные услуги</a></li>
							<li><a href="index.php?name=content" target="_blank" title="Модификация и интеграция тем оформления">Темы и шаблоны</a></li>
							<li><a href="index.php?name=content" title="Размещение рекламы на проекте">Реклама на проекте</a></li>
							<li><a href="index.php?name=content" title="Информация для будущих партнеров">Партнерская программа</a></li>
							<li><a href="index.php?name=content" title="Информация о получении сертификата">Получить сертификат</a></li>
						</ul>
					</li>
					<li>
					<a href="index.php?name=help" title="Поддержка">Поддержка</a>
						<ul>
							<li><a href="index.php?name=faq" title="Вопросы и ответы">Вопросы и ответы</a></li>
							<li><a href="index.php?name=pages" title="Центр документации">Центр документации</a></li>
							<li><a href="index.php?name=media" target="_blank" title="Руководство по PHP">Руководство по PHP</a></li>
							<li><a href="index.php?name=help" title="Техническая поддержка клиентов">Техническая поддержка</a></li>
							<li><a href="index.php?name=forum" title="Общий форум проекта">Общий форум проекта</a></li>
							<li><a href="index.php?name=contact" title="Обратная связь и контактная информация">Обратная связь</a></li>
						</ul>
					</li>
					<li>
					<a href="index.php?name=files" title="Каталог файлов">Каталог файлов</a>
						<ul>
							<li><a href="index.php?name=files&amp;cat=4" title="Дополнительные модули">Модули системы</a></li>
							<li><a href="index.php?name=files&amp;cat=5" title="Дополнительные блоки">Блоки системы</a></li>
							<li><a href="index.php?name=files&amp;cat=6" title="Темы оформления и графические элементы">Темы оформления</a></li>
							<li><a href="index.php?name=files&amp;cat=12" title="Файлы и скрипты для системы">Файлы и скрипты</a></li>
							<li><a href="index.php?name=files&amp;cat=10" title="Языковые файлы для системы">Языковые файлы</a></li>
							<li><a href="index.php?name=files&amp;cat=9" title="Документация, учебники и инструкции">Учебники и инструкции</a></li>
							<li><a href="index.php?name=files&amp;cat=8" title="Полезные скрипты для вебмастера">Полезные скрипты</a></li>
							<li><a href="index.php?name=files&amp;cat=7" title="Полезные программы для вебмастера">Полезные программы</a></li>
						</ul>
					</li>
					<li>
						<a href="index.php?name=news" title="Новости">Новости</a>
						<ul>
							<li><a href="index.php?name=news&amp;cat=2" title="Новости проекта">Наши новости</a></li>
							<li><a href="index.php?name=news&amp;cat=1" title="Мир интернета">Интернет</a></li>
							<li><a href="index.php?name=news&amp;cat=3" title="Компьютерный мир">Программы</a></li>
						</ul>
					</li>
					<li>
						<a href="index.php?name=contact" title="Компания">Компания</a>
						<ul>
							<li><a href="index.php?name=contact" title="Контактная информация">Контактные данные</a></li>
							<li><a href="index.php?name=recommend" title="Рекомендовать наш сайт">Рекомендовать наш сайт</a></li>
							<li><a href="index.php?name=links" title="Каталог сайтов системы">Каталог сайтов системы</a></li>
							<li><a href="index.php?name=top_users" title="Tоп пользователи проекта">Tоп пользователи проекта</a></li>
							<li><a href="index.php?name=voting" title="Опросы нашего проекта">Опросы нашего проекта</a></li>
						</ul>
					</li>
				</ul>
			</nav>
			<form id="qSearch" action="index.php?name=search" method="post">
				<input type="hidden" value="" name="mod">
				<input type="text" value="" name="word" maxlength="100" placeholder="$lan[26]" required>
				<button type="submit" class="thd" value="$lan[26]">$lan[26]</button>
			</form>
		</div>
	</div>
	<div class="wrp">
		<div id="container" class="clrfix">
			<section id="content">
				{%BLOCKS message%}
				{%BLOCKS center%}
				{%MODULE%}
				{%BLOCKS down%}
			</section>
			<aside id="sidebar">
				{%BLOCKS right%}
			</aside>
		</div>
	</div>
	<div id="demo-line">
		<div class="wrp">
			<b class="font demo-line-title">Хотите опробовать SLAED CMS в действии?</b>
			<ul class="d_pane">
				<li class="d_info">Aктуальная<br>версия</li>
				<li class="d_num font">6.2</li>
				<li class="d_btns">
					<a class="sl_but" href="https://slaed.net/index.php?name=files&amp;op=view&amp;id=1529" title="Скачать бесплатно актуальную версию системы"><b>Скачать систему</b></a>
					<a class="sl_but_blue" href="https://slaed.net/index.php?name=files&amp;op=view&amp;id=1461" title="Скачать демо версию системы"><b>Демо</b></a>
				</li>
			</ul>
		</div>
	</div>
	<div id="footbox">
		<div class="wrp grid_1_4">
			<footer class="grid">
				<a OnClick="Upper('html, body', 600);" title="$lan[1] - $lan[4]" id="upper" class="thd">SLAED CMS - Все великое просто!</a>
				<p class="copyright">{%LICENSE%}</p>
				<p class="generates">{%BLOCKS time%}</p>
				<a class="thd madein" href="https://slaed.net/index.php?name=content&amp;op=view&amp;id=7" title="Официальный патент на бренд SLAED в Германии">Made in Germany</a>
			</footer>
			{%BLOCKS n,8%}
			<div class="grid">
				<p class="font f_title">Технологии</p>
				<div class="partners">
					<a href="https://slaed.net/index.php?name=content&amp;op=view&amp;id=20" title="SLAED CMS написана на языке PHP"><img src="templates/$theme/images/tmp/php.png" alt="PHP"></a>
					<a href="https://slaed.net/index.php?name=content&amp;op=view&amp;id=21" title="SLAED CMS на СУБД MySQL"><img src="templates/$theme/images/tmp/mysql.png" alt="MySQL"></a>
					<a href="https://slaed.net/index.php?name=content&amp;op=view&amp;id=18" title="Полная поддержка HTML5 в SLAED CMS"><img src="templates/$theme/images/tmp/html5.png" alt="HTML 5"></a>
					<a href="https://slaed.net/index.php?name=content&amp;op=view&amp;id=19" title="Полная поддержка CSS3 в SLAED CMS"><img src="templates/$theme/images/tmp/css3.png" alt="CSS 3"></a>
					<a href="https://slaed.net/index.php?name=content&amp;op=view&amp;id=22" title="SLAED CMS использует JavaScript Framework jQuery"><img src="templates/$theme/images/tmp/jquery.png" alt="jQuery"></a>
					<a href="https://slaed.net/index.php?name=content&amp;op=view&amp;id=23" title="SLAED CMS использует JavaScript библиотеку jQuery UI"><img src="templates/$theme/images/tmp/jqueryui.png" alt="jQuery UI"></a>
				</div>
			</div>
			<div class="grid">
				<p class="font f_title">Контакты</p>
				<ul class="block_contact">
					<li class="ico i_geo">D-14054, Deutschland<br>Berlin, Prenzlauer Str. 4</li>
					<li class="ico i_phone">+49 176 00000000</li>
					<li><script>"mysi".AddMail('test', 'slaed.net');</script><noscript>test<!-- slaed --><span>&#64;</span><!-- slaed -->slaed.net</noscript><br><a href="https://slaed.net" title="$lan[1]">https://slaed.net</a></li>
				</ul>
			</div>
		</div>
	</div>
	<div id="foot-menu">
		<div class="wrp clrfix">
			<nav class="fmenu">
				<a class="pull-right" href="index.php?name=content&amp;op=view&amp;id=1" title="Размещение рекламы на проекте">По вопросам рекламы</a>
				<ul>
					<li><a href="index.php" title="$lan[5]">$lan[5]</a></li>
					<li><a href="index.php?name=shop" title="Продукты проекта">Продукты</a></li>
					<li><a href="index.php?name=content" title="Платные услуги">Услуги</a></li>
					<li><a href="index.php?name=help" title="Техническая поддержка клиентов">Поддержка</a></li>
					<li><a href="index.php?name=files" title="Каталог файлов">Файлы</a></li>
					<li><a href="index.php?name=news" title="Новости">Новости</a></li>
					<li><a href="index.php?name=pages" title="Центр документации">Документация</a></li>
					<li><a href="index.php?name=contact" title="Контактная информация">Контакт</a></li>
				</ul>
			</nav>
		</div>
	</div>
	<div id="block-feedback"><a href="index.php?name=contact" title="$lan[9]" class="btn-feedback"><b class="font">$lan[9]</b></a></div>
	<!--<div id="block-feedback" class="dropdown">
		<a OnClick="HideShow('f-form', 'slide', 'right', 500);" title="$lan[9]" class="btn-feedback"><b class="font">$lan[9]</b></a>
		<form id="f-form" class="dropdown-form" action="index.php?name=contact" method="post">
			<ul class="block-feedback-form clrfix">
				<li class="bff-col1">
					<textarea placeholder="Сообщение" class="sl_field" rows="5" cols="65" name="message" required></textarea>
				</li>
				<li class="bff-col2">
					<input class="sl_field" type="text" placeholder="Ваше имя" name="sender_name" required>
					<input class="sl_field" type="email" placeholder="Ваш E-Mail" name="sender_email" required>
					<input type="hidden" name="op" value="contact">
					<input type="hidden" name="opi" value="ds">
					<button type="submit" class="sl_but_blue">Отправить</button>
				</li>
			</ul>
		</form>
	</div>-->
	<div class="advantage"><div class="wrp clrfix">{%BLOCKS variables%}</div></div>
	{%SCRIPT%}
	<!--[if lt IE 9]><script src="templates/$theme/js/html5.js"></script><![endif]-->
</body>
</html>