<div class="forum-post">
	<div class="forum-post-in clrfix">
		<div class="fp-right">
			<div class="fp-meta">
				<span class="grey">$arg[2] $arg[3] $arg[4]</span>
			</div>
			<div class="entry-content">$arg[15]<small>$arg[16]</small></div>
			<div class="fp-moder">$arg[18]$arg[19]$arg[22]</div>
		</div>
		<div class="fp-left">
			<div class="fp-nickname dropdown dropup">
				<a OnClick="HideShow(&#039;m-form&#039;, &#039;blind&#039;, &#039;down&#039;, 500);"><b>$arg[1]</b></a>
				<div id="m-form" class="dropdown-form">
					<ul class="list-text">
						<li>$arg[10]</li>
						<li>$arg[11]</li>
						<li>$arg[12]</li>
						<li>$arg[13]</li>
						<li>$arg[14]</li>
						<li>$arg[9]</li>
					</ul>
				</div>
			</div>
			<a title="$arg[1]" class="sl_avatar" style="background-image: url($arg[5]);"></a>
			<div class="min-rate">
				<div class="rate-like-box">$arg[8]</div>
			</div>
			<ul class="fp-user-info">
				<li><b>$arg[6]</b></li>
				<li>$arg[7]</li>
			</ul>
		</div>
	</div>
</div>