<div id="$arg[1]" $arg[25]>
	<table class="sl_table_basic"><thead>
		<tr>
			<th>
				<a OnClick="HideShow(&#039;c-form-$arg[1]&#039;, &#039;blind&#039;, &#039;up&#039;, 500);"><b>$arg[2]</b></a>
				<div class="sl_drop">
					<div id="c-form-$arg[1]" class="sl_drop-form">
						<ul class="list-text">
							<li>$arg[11]</li>
							<li>$arg[12]</li>
							<li>$arg[13]</li>
							<li>$arg[14]</li>
							<li>$arg[15]</li>
							<li>$arg[10]</li>
						</ul>
					</div>
				</div>
			</th>
			<th><span style="float: left;">$arg[3]</span>$arg[4] $arg[5] $arg[26]</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td style="vertical-align: top; text-align: center;">
				<div><a title="$arg[2]" class="sl_avatar" style="background-image: url($arg[6]);"></a></div>
				<div>$arg[7]</div>
				<div>$arg[8]</div>
			</td>
			<td style="position: relative; width: 80%; height: 100%;">
				<div style="position: absolute; top: 4px;">$arg[16]</div>
				<div style="position: absolute; bottom: 4px;">$arg[17]</div>
			</td>
		</tr>
		<tr>
			<td>
				<div class="min-rate">
					<div class="rate-like-box">$arg[9]</div>
				</div>
			</td>
			<td>
				<div style="float: left;">$arg[19] $arg[20] $arg[21] $arg[22] $arg[23]</div><div style="float: right;">$arg[24]</div>
			</td>
		</tr>
	</tbody></table>
</div>