<!doctype html>
<html lang="ru">
<head>
{%HEAD%}
{%SCRIPT%}
</head>
<body>
	<div class="wrapper slaenter">
		<div class="wraptop"></div>
		<div class="wrapmid">
			<div class="header">
				<div class="lcolomn leftside"><h1><a href="http://www.slaed.net" target="_blank" class="thide" title="SLAED CMS">SLAED CMS</a></h1></div>
				<div class="rcolomn midside"><b title="$lan[2]">$lan[2]</b></div>
			</div>
			<div class="entercont">{%MODULE%}</div>
			<div class="footer"><div class="copyright">{%LICENSE%}</div></div>
		</div>
		<div class="wrapfoot"></div>
	</div>
</body>
</html>